<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.bigdata.facturaelectronicamovil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="ec.bigdata.facturaelectronicamovil.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ec.bigdata.facturaelectronicamovil.permission.C2D_MESSAGE" />

    <application
        android:name=".utilidad.ClaseGlobalUsuario"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/nombre_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.Inicio"
            android:label="@string/nombre_app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- GCM Receiver -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="ec.bigdata.facturaelectronicamovil" />
            </intent-filter>
        </receiver>

        <!-- GCM Receiver Service -->
        <service
            android:name=".gcm.GCMPushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- GCM Registration Intent Service -->
        <service
            android:name=".gcm.GCMRegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name=".login.LoginEmpresaActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".login.Inicio" />
        <activity
            android:name=".login.LoginUsuarioActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".login.Inicio" />
        <activity
            android:name=".menu.NavigationDrawer"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/titulo_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.PerfilUsuario"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/titulo_edicion_perfil"
            android:parentActivityName=".menu.NavigationDrawer" />
        <activity
            android:name=".pantalla.OpcionesFacturacion"
            android:parentActivityName=".menu.NavigationDrawer" />
        <activity
            android:name=".pantalla.PerfilEmpresa"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/titulo_edicion_perfil"
            android:parentActivityName=".menu.NavigationDrawer" />
        <activity
            android:name=".pantalla.InicioFacturacionElectronica"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/titulo_factura_electronica"
            android:parentActivityName=".pantalla.OpcionesFacturacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantalla.InformacionEmisor"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.Establecimiento"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.Cliente"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.NuevoCliente"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.ActualizacionCliente"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.Producto"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.NuevoProducto"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.ActualizacionProducto"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.Detalle"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.DetallesFactura"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.Impuesto"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.DetallesAdicionales"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.InformacionAdicional"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.ResumenFacturaElectronica"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.FirmaAutorizacionSRI"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".contentprovider.ContentProviderArchivo"
            android:authorities="ec.bigdata.facturaelectronicamovil.contentprovider"
            android:exported="true" />

        <activity
            android:name=".pantalla.RepositorioComprobantesEmitidosAutorizados"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.OpcionesRepositorio"
            android:label="@string/titulo_repositorio"
            android:parentActivityName=".menu.NavigationDrawer" />
        <activity
            android:name=".pantalla.FiltroBusquedaRepositorio"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.FiltroRangoFechas"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.Test"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.RepositorioComprobantesEmitidosNoAutorizados"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recyclerview.AdministracionClientesActividad"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantalla.CorreosAdicionalesCliente"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".pantalla.Pago"></activity>
    </application>

</manifest>